<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqS23yxa6NQe-k1fbWYezMjDJyec8JMFg</string>
	<key>GCM_SENDER_ID</key>
	<string>200787587375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Farepay.iOS</string>
	<key>PROJECT_ID</key>
	<string>fare-pay-397712</string>
	<key>STORAGE_BUCKET</key>
	<string>fare-pay-397712.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200787587375:ios:5061d7e9fc580d206df1da</string>
</dict>
</plist>